<h1>車販売一覧 </h1>
<h4><%=link_to "商品投稿",new_admin_item_path%></h4>
<table>
	<thead>
			<tr>
				<th>ID</th>
				<th>メーカ名</th>
				<th>税抜価格</th>
				<th>内容</th>
				<th></th>
			</tr>
	</thead>

<tbody>
<% @caritems.each do |car| %>
<tr>

<td><%= car.id %></td>
<td><%= car.name%></td>
<td><%= car.price %></td>
<td><%= car.text %></td>
<td><%=link_to"詳細",admin_item_path(car.id)%></td>
<td><%#= car.time.strftime("%Y") %></td>
</tr>
<%end%>

</tbody>
</table>