<h1> 車新規登録</h1>

<%= form_for(@caritem, url:admin_items_path) do |f| %>

<P>名前</P>
<%= f.text_field :name %>
<p>内容</p>
<%= f.text_area :text,size: "20x5" %>
<p>値段</p>
<%= f.number_field :price %>
<p>画像</p>
<%= f.attachment_field :carimage %>
<<p>年式</p>

<%= raw sprintf(
            f.date_select(
              :time,
              use_month_numbers: true,
              start_year: 1990,
              end_year: (Time.now.year + 30),
              default: Date.new(1989, 1, 1),
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>

<%= f.submit '保存'%>
<%end%>